body {
    background-image: url(../imagens/ta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    top:10px;
    color: #000000;
    font-size: 1.6rem;
  
  }
h2 {
    text-align: center;
    display: flex;
    /*isso centraliza o texto horizontalmente*/
    justify-content: center;
  
    /*isso centraliza o texto verticalmente*/
    align-items: center;
    
    width: 900px;
    height: -200px;
    color: #000000;
    font-size: 0.8rem;
}
h5 {
   
        display: flex;
      
        /*isso centraliza o texto horizontalmente*/
        justify-content: center;
      
        /*isso centraliza o texto verticalmente*/
        align-items: center;
      
        height: 250px;
        color: #000000;
        font-size: 0.9rem;
        background: #717a8a;
     
}
h3{
    display: flex;
    /*isso centraliza o texto horizontalmente*/
    justify-content: center;
  
    /*isso centraliza o texto verticalmente*/
    position: absolute;
    width: 400px;
    height: -100px;
    right: 1000px;
    color: #000000;
    font-size: 0.8rem;
}

#seta2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top:690px;
    right: 10px;
}