h1 { 
    text-align: center;
}

p, h3, h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url("../imagens/cool.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 
 p, li {
    text-align: justify;
 }

 figure {
    text-align: center;
 }


 a, header {
    text-align: center;
 }




 
