body {
    background-image: url(../imagens/ta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    top:10px;
    color: #000000;
    font-size: 1.6rem;
  
}

h2, h3 {
    text-align: center;
    justify-content: center;
    color: #000000;
}
h5 {
   
        display: flex;
      
        /*isso centraliza o texto horizontalmente*/
        justify-content: center;
      
        /*isso centraliza o texto verticalmente*/
        color: #000000;
        font-size: 0.9rem;
        background: #717a8a;
     
}

#seta2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top:690px;
    right: 10px;
}