mark{
    background-color: #4f5860;
}

h1{
    font-size: 30px;
}

body{
    background-color: #b30000;
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-family: monospace;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

figure{
    text-align: right;
}

ul{
    color: aliceblue;
} 
    
.grup{
    background-color: #75828D;
}

.pag {
    background-color: black;
}
    
.direita{
    text-align: right;
}